/* Add CSS Styling */
.odd-number{
    background-color: rgb(255, 182, 193);
    font-family: "Verdana", "Dejavu Sans", sans-serif;
}

#one {
    color: #0000ff;
    font-size: 36px;
}

.odd-number.cooler {
    font-size: 24px;
}

#two {
    background-color: hsl(120, 73%, 75%);
    font-size: 24px;
    font-weight: bold;
}