/* Add CSS Styling */
.option-one {
    background-color: black;
    color: rgb(255, 255, 255);
}

.option-two {
    background-color: #ffff00;
}

.option-one, .option-two {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}